:root {
    font-size: 16px;
}

.wish-main {
    padding-left: 15rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.wish-title {
    color: whitesmoke;
}

.wish-item {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 
        "image name"
        "image price"
        "image buttons";
    align-items: start;
    justify-items: start;
    grid-template-columns: 10rem auto;
    color: teal;
    /* gap: 5rem; */
    grid-column-gap: 4rem;
    padding-bottom: 2rem;
}

.wish-item-img {
    grid-area: image;
}

.wish-item-link {
    grid-area: name;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    justify-self: start;
}

.wish-item-buttons {
    grid-area: buttons;
    align-self: end;
    
    margin-bottom: 2rem;
    margin-top: 1.75rem;
    
}

.wish-item-buttons *{
    background-color: teal;
    color: whitesmoke;
    border: none;

}


.wish-item-price {
    grid-area: price;
    font-size: 1rem;
    
}