@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root {
    font-size: 16px;
}

.cart-main {
    padding-left: 15rem;
    padding-top: 5rem;
}

.cart-title {
    font-family: 'Josefin Sans', sans-serif;
}

.cart-item {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 
        "image name"
        "image price"
        "image buttons";
    align-items: start;
    justify-items: start;
    grid-template-columns: 20rem auto;
    gap: 0.1rem;
}

.cart-item-img {
    grid-area: image;
}

.cart-item-link {
    grid-area: name;
    font-weight: xx-large;
}

.cart-item-buttons {
    grid-area: buttons;
    align-self: end;
}

.cart-item-price {
    grid-area: price;
    font-size: 1rem;
}