@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root {
    font-size: 16px;
}

.cart-main {
    padding-left: 15rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.cart-main {
    display: grid;
    grid-template-areas: 
        "title   title"
        "cartItem side";
    justify-content: space-between;
}

.cart-title {grid-area: title;}
.cart-contents {grid-area: cartItem;}
.cart-side-main {grid-area: side;}

.cart-item {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 
        "image name"
        "image price"
        "image buttons";
    align-items: start;
    justify-items: start;
    grid-template-columns: 10rem auto;
    /* gap: 5rem; */
    color: teal;
    grid-column-gap: 5rem;
    padding-bottom: 2rem;
}

.cart-item-img {
    grid-area: image;
}

.cart-item-link {
    grid-area: name;
    font-size: 1.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 32rem;
}

.cart-item-buttons {
    grid-area: buttons;
    align-self: end;
}

.cart-item-price {
    grid-area: price;
    font-size: 1rem;
}

.cart-side-main {
    height: 30rem;
    width: 18.5rem
}