<html>
    <head>
        <title>Photo Grid</title>
        <style>
            @import url('./base.css');
            @import url('./photo-grid.css');
            
        </style>
    </head>
    <body>
            <h1> 
                Categories
            </h1>

            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1510746001195-0db09655b6db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80')"
                >
                Motherboard
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1555617778-02518510b9fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')"
                >
                CPU
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1531492746076-161ca9bcad58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80')"
                >
                Storage
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://cdn.pixabay.com/photo/2020/05/23/13/04/power-5209513_1280.jpg')"
                >
                Power Unit/Cooling
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1562976540-1502c2145186?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80')"
                >
                Memory
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')"
                >
                Monitors
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1595074475126-11362260b8aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80')"
                >
                Keyboards
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1591489378430-ef2f4c626b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
                >
                Graphic Cards
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1599005280793-04627b9bd10a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"
                >
                For Gamers
                
            </div>
            <div class="photo-grid">
                <div
                    class="card"
                    style="background-image:url('https://images.unsplash.com/photo-1592664474496-8f2c35acd655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')"
                >
                Cabinets
                
            </div>
            
    </body>
</html>     