
.homepage-main {
    padding-left:15rem;
    padding-top: 10rem;
}
#mainimage{
    background-image:url('../homepage/assets/image1.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}


