
.homepage-main {
    padding-left:15rem;
    padding-top: 10rem;
}
#mainimage{
    background-image:url('../homepage/assets/image1.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

Carousel{
	width: 100%;
    height: 6vh;
    padding-top: 100em;
    background-color:	#073638;
    color:#000000;
    margin-bottom: 100px;
    margin-top: 60px;

}

Card{
	width: 100%;
    height: 6vh;
    padding-top: 1em;
    background-color:	#073638;
    color:#000000;
    margin-bottom: 30px;
    margin-top: 60px;
}


