.rating-value{
    color: dodgerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.FaStar{
    color: gold;
    size: 20px;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}

input[type="radio"] {
    display: none;
}