@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    font-size: 16px;
    --font-color: #6b6b6b;
}

.category-main {
    padding-left: 15rem;
    margin-top: 3rem;
    color: var(--font-color);
}

.cat-title {
    font-family: 'Press Start 2P', cursive;
}

