.product-main {
    color: rgb(214, 214, 214);
    padding-left: 8rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.carousel {
    width: 500px;
    height: 500px;
    background-color: rgb(100, 100, 100);
    color: black;
}

.product-description {
    width: 30em;
    word-wrap: break-word;
}

.product-category {
    font-size: 12px;
	color: rgba(187, 187, 187, 0.5);
}

.product-name {
	font-size: 2rem;
	font-weight: 500;
	/* margin-top: 11px; */
}

.product-text {
    margin-top: 15px;
}

