:root {
    font-size: 16px;
    --transition-delay: 160ms;
    --primary-color: #bff4ee;
    --secondary-color: #000000;
    --hover-color: #807b7bf8;
}

.navbar {
    background-color: var(--primary-color);
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color:var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
    transition: color var(--transition-delay) ease-in-out;

}

.nav-link:hover {
    color: var(--hover-color);
    transition: color var(--transition-delay) ease-in-out;
}

.my-btn {
    color: var(--secondary-color);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 0.25px solid transparent;
    padding: 0.375rem 0.75rem 0.1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    transition: color var(--transition-delay) ease-in-out;
}

.my-btn:hover {
    color: var(--hover-color);
}

.my-bar {
    margin-top: 15px;
    color: var(--secondary-color);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transform: rotateZ(0deg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, transform var(--transition-delay) ease-in-out;
}

.my-bar:hover {
    color: var(--hover-color);
}

.my-bar.open {
    transform: rotateZ(90deg);
    transition: transform var(--transition-delay);
}

.left-side {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.cart-btn {
    padding-top: 0.5rem;
    background-color: transparent;
    border: none;
    width: 2.5rem; 
    height: 5rem;
    border-radius: 0px;
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0px;
    padding: 0px;
}

.cart-number {
    font-size: 1.25rem;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    color: var(--secondary-color)
}

.cart-btn:hover {
    background-color: var(--secondary-color);
}

.cart-btn:hover .shopping-cart  {
    fill: var(--primary-color);
    /* color: var(--primary-color); */
}

.cart-btn:hover .cart-number  {
    /* fill: var(--primary-color); */
    color: var(--primary-color);
}

.usr-btn {
    padding-top: 1.25rem;
    background-color: transparent;
    border: none;
    height: 5rem;
    width: auto;
    border-radius: 0px;
}

.usr-btn:hover {
    background-color: var(--secondary-color);
}

.usr-btn:hover .fa-user {
    color: var(--primary-color);
}

.right-side {
    display: flex;
    text-align: center;
    padding-left: 3.5rem;
    width: 12%;
    justify-content: flex-start;
    gap: 1rem;
}

.form-main {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
    margin-left: 12rem;
    top: 0;
    position: fixed;
}

.search-bar {
    display: flex;
    align-self: flex-start;
}

.search-btn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    height: 2.25rem;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.search-form {
    height: 2.25rem;
    width: 22rem;
    border: none;
    padding: 5px;
    padding-left: 50px;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-color);
}

.search-result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    text-overflow: ellipsis;
    width: 22rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-main-result {
    padding: 1rem;
    transition: all var(--transition-delay);
    background-color: var(--secondary-color);
}

.form-main-result:hover {
    color: var(--secondary-color);
    background-color: #073638;
}

.nav-profile-pic {
    height: 2rem;
    width: auto;
    border-radius: 50%;
}

.sign-in-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-container {
    width: 5rem;
    height: 3rem;
}
