:root {
    font-size: 16px;
    --transition-delay: 160ms;
    --primary-color: #be9e0b;
    --secondary-color: #000000;
    --hover-color: #2222227c;
}

.sidebar::-webkit-scrollbar {
    width: 0.25rem;
}

.sidebar::-webkit-scrollbar-track {
    background: #999999;
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}


.navbar {
    background-color: var(--primary-color);
    display: flex;
    height: 4.4rem;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color:var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
    transition: color var(--transition-delay) ease-in-out;

}

.nav-link:hover {
    color: var(--hover-color);
    transition: color var(--transition-delay) ease-in-out;
}

.my-btn {
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 1.5rem;
    padding-top: 1.75rem;
    transition: color var(--transition-delay) ease-in-out;
}

.my-btn:hover {
    color: var(--hover-color);
}

.my-bar {
    margin-top: 15px;
    color: var(--secondary-color);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transform: rotateZ(0deg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, transform var(--transition-delay) ease-in-out;
}

.my-bar:hover {
    color: var(--hover-color);
}

.my-bar.open {
    transform: rotateZ(90deg);
    transition: transform var(--transition-delay);
}

.left-side {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.sidebar {
    padding-top: 1rem;
    position: fixed;
    transform: translateX(-13rem);
    transition: transform var(--transition-delay) ease-in-out;
    width: 13rem;
    height: 100vh;
    background-color: rgb(175, 175, 175);
    max-height: calc(100% - 3rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #999999;
}

.sidebar.open {
    transform: translateX(0);
    transition: transform var(--transition-delay) ease-in-out;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

.right-side {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* width: 10%; */
    height: 4.4rem;
}


.cart-btn {
    background-color: transparent;
    border: none;
    width: 3.5rem;
    border-radius: 0px;
}

.cart-btn:hover {
    background-color: var(--secondary-color);
}

.cart-btn:hover .fa-shopping-cart {
    color: var(--primary-color);
}

.side-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.side-item:hover {
    background-color: #be9d0b93;
}

.side-item:last-child {
    margin-top: auto;
}

a i.fas {
    margin: 0.5rem;
    color: var(--secondary-color);
}

a svg.fas {
    margin: 0.5rem;
    color: var(--secondary-color);
}

a i.uil {
    margin: 0.5rem;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.link-text {
    color: var(--secondary-color);
}

.form-main {
    display: flex;
    align-items: center;
}

.search-btn {
    color: whitesmoke;
    background-color: transparent;
    height: 2.25rem;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.search-form {
    height: 2.25rem;
    width: 25rem;
    border: none;
    padding: 5px;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-color);
}