:root{
    font-size: 16px;
}

.footer {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 42px;
    left: 0px;
    top: 857px;
    background-color: #000000;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 0.75rem;
    margin-top: 60px;
    /* margin-bottom: 10px;
    padding-bottom: 2rem; */
}

.usefulVarName {
    font-size: 1.0rem;
    color: #ffffff;
}
