body {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    position: relative;
    padding-bottom: 5rem;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}

input[type="radio"] {
    display: none;
}